body {
    margin: 0;
    padding: 0;
}
#container {
    width: 1920px;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}
p, a {
    font-size: 18px;
    color: #bda68f;
}
header {
    width: 14%;
    background-color: #020101;
    color: #fab03c;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}
header article p, header article a {
    padding-left: 10px;
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    text-decoration: none;
}
header article a:hover {
    color: white;
}
h1 {
padding-left: 4px;
}
main {
    padding-left: 25px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fab03c ;
    color:#020101;
    border-radius: 0 15px 15px 0;
}
main h2 {
    font-size: 30px;;
}
main p {
    color: #4a433c;
}
main ul {
    padding: 0px;
    padding-right: 15px;
}
main li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
main article:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main article:first-child p {
    font-size: 55px;
}
main ul li div:first-child {
    width: 30%;
}
main article:last-child {
    margin-bottom: 55px;
}
ul li:first-child{
    border-top: 2px solid rgba(47, 46, 46, 0.389);
}
li {
    border-bottom: 2px solid rgba(47, 46, 46, 0.389);
}
@media screen and (max-width: 768px) {
    #container {
        width: 100vh;
    }
    /* --header-- */
    header article p {
        font-size: 14px;
    }
    header article h2 {
        font-size: 20px;
    }
    /* eMail */
    header article:nth-child(2) p:last-child {
        font-size: 10px;
    }
    /* --main-- */
    main {
        justify-content: flex-start;
    }
    main ul li div:first-child {
        width: 100%;
    }
    main article:first-child p{
        font-size: 25px;
        margin: 0;
    }
    main article:nth-child(2) {
        margin-top: 30px;
    }
    main h2 {
        font-size: 21px;
        text-align: center;
    }
    main ul li {
        flex-direction: column;
    }
    main ul li div {
        text-align: center;
    }
    main ul li div:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    main ul li div:nth-child(2) p {
        margin: 0;
    }
    main ul li div:first-child p {
        margin: 0;
        font-size: 85%;
    }
}